<form action="/dados" method="POST">
    <input type="email" name="email" id="email" placeholder="Digite o seu email!">
    <input type="password" name="password" id="password" placeholder="Digite sua senha!">
    <button>Enviar</button>

</form>